absl-py==1.2.0
aiohttp 
aiosignal 
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.0.8
async-lru==2.0.4
async-timeout 
attrs==23.1.0
Babel==2.13.1
backcall 
backports.functools-lru-cache 
beautifulsoup4==4.12.2
bleach==6.1.0
blinker 
Bottleneck 
Brotli 
brotlipy==0.7.0
cachetools 
certifi==2022.9.24
cffi 
charset-normalizer 
click==8.1.3
cloudpickle 
cmake==3.27.7
colorama 
comm 
contourpy 
cryptography 
cssselect2==0.2.1
cycler 
datasets==2.5.2
debugpy 
decorator 
defusedxml==0.7.1
dill==0.3.5.1
entrypoints 
exceptiongroup 
executing==1.1.1
fastjsonschema==2.18.1
filelock==3.8.0
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.3.1
fsspec==2022.8.2
future 
fvcore 
gdown==4.7.1
google-auth 
google-auth-oauthlib 
googledrivedownloader 
graphviz==0.20.1
grpcio 
h5py 
huggingface-hub==0.17.3
idna 
imageio 
importlib-metadata 
importlib-resources 
iniconfig 
iopath==0.1.9
ipdb==0.13.9
ipykernel 
ipython 
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
joblib 
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client 
jupyter_core 
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.1
kiwisolver 
lightning-utilities==0.10.0
lit==17.0.2
lockfile==0.12.2
lxml 
Markdown 
MarkupSafe 
matplotlib==3.6.1
matplotlib-inline 
mistune==3.0.2
mkl-fft 
mkl-random 
mkl-service==2.4.0
mpmath==1.3.0
multidict 
multiprocess==0.70.13
munkres==1.1.4
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio 
networkx==3.1
nltk==3.7
notebook==7.0.6
notebook_shim==0.2.3
numexpr 
numpy==1.23.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib 
opencv-python==4.8.1.78
opt-einsum==3.0.0
overrides==7.4.0
packaging==21.3
pandas==1.5.0
pandocfilters==1.5.0
parso 
patsy==0.5.3
pexpect 
pickleshare 
Pillow 
platformdirs 
plotly==5.18.0
plotly-express==0.4.1
pluggy 
ply==3.11
pooch 
portalocker 
prometheus-client==0.18.0
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil 
ptyprocess 
pure-eval 
pyarrow==6.0.1
pyasn1 
pyasn1-modules==0.2.8
pycparser 
Pygments==2.13.0
PyJWT 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
PySocks 
pytest 
python-dateutil 
python-json-logger==2.0.7
pytz==2022.4
PyWavelets==1.4.1
PyYAML 
pyzmq 
qtconsole==5.5.0
QtPy==2.4.1
referencing==0.30.2
regex==2022.9.13
reportlab==3.5.67
requests 
requests-oauthlib==1.3.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rouge-score==0.1.2
rpds-py==0.12.0
rsa 
safetensors==0.4.0
scikit-learn 
scipy==1.10.1
Send2Trash==1.8.2
sip 
six 
sniffio==1.3.0
soupsieve==2.5
stack-data==0.5.1
statsmodels==0.14.0
svglib 
sympy==1.12
tabulate 
tenacity==8.2.3
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
termcolor 
terminado==0.17.1
threadpoolctl 
timeout-decorator==0.5.0
timm==0.9.10
tinycss2 
tokenizers==0.14.1
toml 
tomli 
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchdiffeq==0.2.3
torchvision==0.16.1+cu118
torchviz==0.0.2
tornado 
tqdm==4.64.1
traitlets==5.13.0
transformers @ git+https://github.com/huggingface/transformers@2fc33ebead50383f7707b17f0e2a178d86347d10
triton==2.1.0
types-python-dateutil==2.8.19.14
typing_extensions==4.4.0
uri-template==1.3.0
urllib3==1.26.12
wcwidth 
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug 
widgetsnbextension==4.0.9
xgboost==2.0.1
xxhash==3.0.0
yacs 
yarl 
youtube-dl==2021.12.17
zipp 
